.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.34;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent-text-color);
  }
}

.link.current {
  color: var(--akcent-text-color);
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    margin-top: 28px;
    display: block;
    position: absolute;
    background-color: var(--akcent-text-color);
    border-radius: 2px;
  }
}

.contacts-header {
  display: flex;
  align-items: center;
}
.contacts-header__item {
  margin-left: 30px;
}
.contacts-header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--additional-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent-text-color);
  }
}

.contacts-header__icon {
  margin-right: 10px;
  fill: var(--additional-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts-header__link:hover &,
  .contacts-header__link:focus & {
    fill: var(--akcent-text-color);
  }
}
